.row
  .col-md-8
    .panel.panel-success.shadow
      .panel-body
        #zones style=("width: 100%; height: 400px;")
  .col-md-4
    .panel.panel-success.shadow
      .panel-heading
        h3.panel-title Errores
      .panel-body.no-padding
        ul.list-group.no-margin
          - @datos.each do |dato|
            li class="list-group-item list-group-item-#{status_color(dato.priority)}"
              = link_to alert_path(dato)
                = dato.access_point.ssid
                = "(#{ dato.category })"

javascript:
  var map = new GMaps({
    el: '#zones',
    lat:  #{Setting.center[0]},
    lng:  #{Setting.center[1]},
    styles: [
      {
        "featureType": "poi",
        "stylers": [
          { "visibility": "off" }
        ]
      }
    ],
  });

  $(document).ready(function (){
    var start = new Date;
    var current = 0
    //setInterval(function() {
      $.ajax({
        type: "POST",
        url:  "#{api_data_access_points_path}",
        success: function(data, textStatus, jqXHR){
          $.each(data,function(index, value){
            map.addMarker({
                lat: value.latitude,
                lng: value.longitude,
                icon: "#{ asset_path('router-logo.png') }",
                infoWindow: {
                  content:  '<p>ssid: '+ value.ssid +'</p>' +
                            '<p>Ip: '+ value.ip +'</p>' +
                            '<p>Mac: '+ value.mac +'</p>' +
                            '<p>Lat: '+ value.latitude +'</p>' +
                            '<p>Lng: '+ value.longitude +'</p>'
                }
            });
            map.drawCircle({
              lat: value.latitude,
              lng: value.longitude,
              radius: 12
            })
          });
        },
        error: function(jqXHR, textStatus, errorThrown){
          console.log("no guardo");
        }
      });

      $.ajax({
        type: "POST",
        url:  "#{api_data_zones_path}",
        success: function(data, textStatus, jqXHR){
          map.removePolygons();
          $.each(data,function(index, value){
            map.drawPolygon({
              paths: value.limits,
              strokeColor: 'green'
            });
          });
        },
        error: function(jqXHR, textStatus, errorThrown){
          console.log("no guardo");
        }
      })
    //}, 30000);
  })
