.row
  .col-md-10
    .panel.panel-success.shadow
      .panel-body
        #zones style=("width: 100%; height: 400px;")
  .col-md-2
    .recent-activity
      .recent-activity-item.recent-activity-success
        .recent-activity-badge
          span.recent-activity-badge-userpic
        .recent-activity-body
          .recent-activity-body-head
            .recent-activity-body-head-caption
              h3.recent-activity-body-title Zonas
          .recent-activity-body-content
            p
              a href="#"  Grace Hudson
              | ordered 2 items ($34.45)
              span.text-block.text-muted on 02/12/15
      .recent-activity-item.recent-activity-default
        .recent-activity-badge
          span.recent-activity-badge-userpic
        .recent-activity-body
          .recent-activity-body-head
            .recent-activity-body-head-caption
              h3.recent-activity-body-title Usuarios activos
          .recent-activity-body-content
            p
              a href="#"  Grace Hudson
              | ordered 2 items ($34.45)
              span.text-block.text-muted on 02/12/15
      .recent-activity-item.recent-activity-default.recent-activity-last
        .recent-activity-badge
          span.recent-activity-badge-userpic
        .recent-activity-body
          .recent-activity-body-head
            .recent-activity-body-head-caption
              h3.recent-activity-body-title Equipos
          .recent-activity-body-content
            p
              a href="#"  Kelly Newman
              | ordered 4 items ($234.45)
              span.text-block.text-muted on 02/17/15

javascript:
  var map = new GMaps({
    el: '#zones',
    lat:  #{Setting.center[0]},
    lng:  #{Setting.center[1]},
  });

  $(document).ready(function (){
    var start = new Date;
    var current = 0
    //setInterval(function() {
      $.ajax({
        type: "POST",
        url:  "#{api_data_access_points_path}",
        success: function(data, textStatus, jqXHR){
          $.each(data,function(index, value){
            map.addMarker({
                lat: value.latitude,
                lng: value.longitude,
                icon: "#{ asset_path('router-logo.png') }",
                infoWindow: {
                  content:  '<p>ssid: '+ value.ssid +'</p>' +
                            '<p>Ip: '+ value.ip +'</p>' +
                            '<p>Mac: '+ value.mac +'</p>' +
                            '<p>Lat: '+ value.latitude +'</p>' +
                            '<p>Lng: '+ value.longitude +'</p>'
                }
            });
            map.drawCircle({
              lat: value.latitude,
              lng: value.longitude,
              radius: 12
            })
          });
        },
        error: function(jqXHR, textStatus, errorThrown){
          console.log("no guardo");
        }
      });

      $.ajax({
        type: "POST",
        url:  "#{api_data_zones_path}",
        success: function(data, textStatus, jqXHR){
          map.removePolygons();
          $.each(data,function(index, value){
            map.drawPolygon({
              paths: value.limits,
              strokeColor: 'green'
            });
          });
        },
        error: function(jqXHR, textStatus, errorThrown){
          console.log("no guardo");
        }
      })
    //}, 30000);
  })
