.row
  .col-md-12
    .panel.panel-success.shadow
      .panel-body
        #active_users style=("width: 100%; height: 400px;")
javascript:
  var user_map = new GMaps({
    el: '#active_users',
    lat:  #{ Setting.center[0] },
    lng:  #{ Setting.center[1] },
    styles: [
      {
        "featureType": "poi",
        "stylers": [
          { "visibility": "off" }
        ]
      }
    ],
  });

  $(document).ready(function (){
    setInterval(function() {
      $.ajax({
        type: "GET",
        url:  "#{api_data_last_connected_users_path}",
        success: function(data, textStatus, jqXHR){
          console.log(data);
          user_map.removeMarkers()
          $.each(data,function(index, value){
            user_map.addMarker({
                lat: value.latitude,
                lng: value.longitude,
                infoWindow: {
                  content:  '<p>email: '+ value.user +'</p>' +
                            '<p>ssid: '+ value.ssid +'</p>' +
                            '<p>Ip: '+ value.ip +'</p>' +
                            '<p>Mac: '+ value.mac +'</p>' +
                            '<p>Link Speed: '+ value.link_speed +'</p>' +
                            '<p>Sign level: '+ value.sign_level +'</p>' +
                            '<p>ping: '+ value.ping +'</p>' +
                            '<p>RTT: '+ value.rtt +'</p>' +
                            '<p>Lat: '+ value.latitude +'</p>' +
                            '<p>Lng: '+ value.longitude +'</p>'
                }
              });
          });
        },
        error: function(jqXHR, textStatus, errorThrown){
          console.log("no guardo");
        }
      })
    }, 10000);
  })
