.row
  .col-md-8
    #routers style=("width: 100%; height: 400px;")
  .col-md-4
    .panel.panel-success.shadow
      .panel-heading
        .pull-left
          h3.panel-title Lista de routers
        .pull-right
          = link_to fa_icon('plus'), new_access_point_path, class: 'btn btn-sm'
        .clearfix
      .panel-body
        ul.list-unstyled.list-real-estate
          - @access_points.each do |access_point|
            li
              = link_to access_point do
                .pull-left
                  p
                    = access_point.ssid
                .pull-right
                  = link_to 'Editar', edit_access_point_path(access_point), class: "btn btn-default"
                  = link_to 'Borrar', access_point, class: "btn btn-danger", data: { confirm: 'Are you sure?' }, method: :delete
                .clearfix
      .panel-footer
        = will_paginate(@access_points)
javascript:
  var map = new GMaps({
    el: '#routers',
    lat:  #{Setting.center[0]},
    lng:  #{Setting.center[1]},
    styles: [
      {
        "featureType": "poi",
        "stylers": [
          { "visibility": "off" }
        ]
      }
    ],
  });
  $.ajax({
      type: "POST",
      url:  "#{api_data_access_points_path}",
      success: function(data, textStatus, jqXHR){
        console.log(data);
        $.each(data,function(index, value){
          map.addMarker({
              lat: value.latitude,
              lng: value.longitude,
              icon: "#{ asset_path('router-logo.png') }",
              infoWindow: {
                content:  '<p>Lng:'+ value.longitude +'</p>' +
                          '<p>Lng:'+ value.longitude +'</p>'
              }
            });
        });
      },
      error: function(jqXHR, textStatus, errorThrown){
        console.log("no guardo");
      }
  })
